/* Variables 

Variables are placeholders for storing information that you want to reuse throughout your styles. You can store things like colours, font-families, or any css value you can think you might want to use.

SCSS uses the '$' symbol to declare variables
*/ 

// Colors
$white: #fff;
$grey: #aaa;
$black: #000;
// Font Families

$helvetica: Helvetica, Arial, sans-serif;


    