/*

a mixin is similar to a function, it has multiple declarations, as well as can take arguments.

To declare a mixin 
@mixin mixin-name

To use a mixin
@include mixin-name

To use a mixin with arguments
@include($arguments, $argument2, $argument3)

*/

@mixin fade ($background, $size, $weight, $color, $time){
    display: block;
    font-size: $size;
    font-weight: $weight;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition: $time;
    padding: 3em;
    background-color: $background;
    font-style: italic;
    color: $color;
    letter-spacing: 0;
    
    &:hover {
    color: $darkgrey;
    letter-spacing: 5px;  
    background: $darkgrey; 
    background: radial-gradient(rgba(255,255,255,1), rgba(128,128,128,0));

    filter: drop-shadow(-10px 10px 6px rgba(0,0,0,.3));      
    }
}